
.texto-container{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: bold;
    line-height: 52px;
    text-align: left;
    color:#0A0430;
}

.text-bold-purple-small{
    font-family: DM Serif Display;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    line-height: 52px;
    text-align: left;
    color:#6F24E9 ;
}

.text-bold-purple-large {
    font-family: DM Serif Display;
    font-style: italic;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    color:#6F24E9 ;
}

.text-bold-yellow-small{
    font-family: DM Serif Display;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    line-height: 52px;
    text-align: left;
    color:#F19436 ;
}


.text-bold-purple-large {
    font-family: DM Serif Display;
    font-style: italic;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    text-align: left;
    color:#FFC62F ;
}

.titulo-introducao-pagina{
    font-family: DM Sans;
    font-size: 64px;
    font-weight: bold;
    line-height: 77px;
    text-align: left;
    color:#0A0430;
}