@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

body {
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.cartoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  margin-top: -2rem;
  position: relative;
}
.title {
  position: absolute;
  top: 0;
}

.subtitle {
  margin: 2rem;
  font-family: "Montserrat", sans-serif;
}

.grid-container {
  margin: 2rem 18rem 2rem 18rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 3rem;
}
.grid-item {
  font-family: "Montserrat", sans-serif;
}
.grid-item img {
  width: 2.5rem;
}

.cartoon i {
  font-family: "DM Serif Display", serif;
  display: inline;
  font-size: 3rem;
}

.cartoon h2 {
  font-family: "Montserrat", sans-serif;
  display: inline;
  font-weight: 600;
  font-size: 2.5rem;
}
