/* external css: flickity.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nossa-equipe-container{
    max-width: auto;
    height: 10%;
    margin:  auto;
    align-items: center;
    justify-content:center ;
    padding: 20px;
    pointer-events: auto;
    background: #704EEA;
}

.texto-equipe-container{
    width:60% ;
    height: 207px;
    margin: 50px 10%;
}

#texto-equipe{
    color:white;
}

.equipe-container{
    margin: 1% 10% auto;
    width:60% ;

}
.membros-container{
    display: flex;
    justify-content: center;
    counter-increment: gallery-cell;
    background: #704EEA;
    margin: 120px auto;
}

.membro-card {
    text-align: center;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.membro-card-image{
    position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 3px;
    margin: 10px;
    
}

.membro-card-image .membro-img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: 60%;
    border-radius: 50%;

}
.membro-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    font-family: DM Sans;
    text-align: center;
    color: #FFFFFF;
}

.nome-membro{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

.cargo-membro{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}



@media (max-width: 600px) {
    .membro-card-image {
        height: 150px; /* Ajuste de altura */
        width: 150px; /* Ajuste de largura */
    }
    .nome-membro {
        font-size: 20px; /* Tamanho da fonte para telas pequenas */
    }
    .cargo-membro {
        font-size: 14px; /* Tamanho da fonte para telas pequenas */
    }
}



/* 
<!-- Equipe-->
<div class="nossa-equipe-container">
        <div class="texto-equipe-container">
            <p class="texto-introducao-pagina" id="texto-equipe">
                <span>Nossa equipe conta com os </span>
                <span>melhores e mais </span>
                <span> preparados  profissionais para criar o 
                melhor conteúdo para
                </span>
                <span>sua criança</span>
            </p>
        </div>
    <div  class="equipe-container" data-flickity='{ "groupCells": true }'>
        <div id="membros-container" class="membros-container">
        </div>
    </div>
</div> */