#texto-pagina-home{
    margin: 236.19px 395.19px;
}

.hero-container{
    width: 1322.19px;
    height: 490.75px;
    top: 206px;
    left: 83px;
    gap: 0px;
    opacity: 0px;

}
.texto-container{
    width: auto;
    height: 231px;
    top: 236.19px;
    left: 395.19px;
    gap: 0px;
    opacity: 0px;

}

.descricao-container{
    width: 802px;
    height: 96px;
    top: 520.19px;
    left: 328.19px;
    gap: 0px;
    opacity: 0px;
    color:#0A0430;

}

.descricao-texto{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.075em;
    text-align: center;
    color:#0A0430;
    text-align: left;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden; 
}

