#texto-pagina-home{
    margin: 236.19px 395.19px;
}

.hero-container{
    background-color: #2d19c4;
    width: 1322.19px;
    height: 522.19px;
    margin: 206px 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-texto{
    background-color: #c3bfe0;
    width: 668px;
    height: 231px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.descricao-container{
    margin: 140px auto;
    width: 802px;
    height: 96px;
    color: #0A0430;

}

.descricao-texto{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.075em;
    text-align: left;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    color: #0A0430;
}

