*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cards-containe{
    width: 1160px;
    margin: auto 140px 140px;
    max-width: 100%;
    max-height: auto;

}

.texto-container{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: bold;
    line-height: 52px;
    text-align: left;
    color:#0A0430;
}

.text-bold-purple{
    font-family: DM Serif Display;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    line-height: 52px;
    text-align: left;
    color:#6F24E9 ;
    
}
.card-container{
    width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:50px auto ;
    overflow: hidden;


}

.card{
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.card-image{
    width: 360px;
    height: 240px;
    overflow: hidden;
    border-radius: 50px;
    
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}


.descricao-content{
    margin-top: 10px;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: left;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden; 

}

a {
    color: inherit; 
    text-decoration: none; 
}

a:hover {
    color: #108cc5; 
}

@media (max-height: 915px){
    .artigo-card-image{
        height: 400px;
    }
}
@media (max-width: 734px){
    .artigo-card-image{
        width: 360px;
    }
    .texto-forum-container{
        font-size: 28px;
    }
}