/* 
<!-- Plataforma de videos -->
<div class="plataforma-container" id="plataforma-videos-container">
    <div class="texto-container" id="text-videos">
        <p>Nossa plataforma oferece vídeos 
            <span>filtrados & selecionados</span>
        exclusivamente para cuidar da <span>segurança</span> das suas crianças
        </p>
        <div class="descricao-container-texto" id="plataforma-videos-descricao">
            <span class="descricao-texto"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet condimentum. 
                Cras et turpis id eros tincidunt faucibus. Nullam aliquam malesuada neque, ac hendrerit lacus tincidunt eu.
            </span>
        </div>
        <div>
            <button class="bnt-outline-purple" id="bnt-assistir-agora">
                <span>Assistir agora</span>
                <img class="icon-bnt" src="img/home/button-icon/icon-bnt-outline-purple.svg">
            </button>
        </div>
    </div> */

.plataforma-container{
    width: 1160px;
    height: 611px;
    margin: 3416px 140px;
    border-radius: 50px;
    background-color: #FFD25B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 140px;
}

.texto-container-plataforma{
    font-family: DM Sans;
    font-size: 36px;
    font-weight: bold;
    line-height: 52px;
    text-align: left;
    color:#0A0430;
    width: 906px;
    height: 371px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

